---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro"
import BlogPostCard from "../components/BlogPostCard.astro"

const allPosts = (await Astro.glob("/src/pages/blog/**/*.md"))
allPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date))
---
<PageLayout title="Kozrh's Blog">
    <hr class="w-100"/>
    <section class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="cell-md-8">
                    {
                        allPosts.map( (post) => <BlogPostCard {post} />)
                    }
                </div>
                <div class="cell-md-4">
                </div>
            </div>
        </div>
    </section>
</PageLayout>