---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro"
import BlogPostCard from "../components/BlogPostCard.astro"

const allPosts = (await Astro.glob("/src/pages/blog/**/*.md"))
allPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date))
---
<PageLayout title="Kozrh's Blog">
    <hr class="w-100"/>
    <section class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="cell-md-9">
                    <div class="pr-10">
                        {
                            allPosts.map( (post) => <BlogPostCard {post} />)
                        }
                    </div>
                </div>
                <div class="cell-md-3">
                    <div class="sidebar border-left bd-default pl-4 pr-4">
                        Sidebar
                    </div>
                </div>
            </div>
        </div>
    </section>
</PageLayout>