---

---
<ul class="sidebar-menu">
    <li>
        <div class="node-leaf">
            <span class="node-toggle"><span class="mif-chevron-right"></span></span>
            <a class="group-label"><span>Start Here</span></a>
        </div>
        <ul class="sidebar-menu">
            <li><a href="intro"><span>Introduction</span></a></li>
            <li><a href="web-service-api"><span>Web Service API</span></a></li>
            <li><a href="changelog"><span>Changelog</span></a></li>
        </ul>
    </li>
    <li>
        <div class="node-leaf">
            <span class="node-toggle"><span class="mif-chevron-right"></span></span>
            <a href="tutorial/index" class="group-label"><span>Tutorial</span></a>
        </div>
        <ul class="sidebar-menu">
            <li><a href="tutorial/replacing-datepicker-widget"><span>Replacing default Calendar widget with KendoDatePicker</span></a></li>
            <li><a href="tutorial/how-to-add-token-to-easyquery-http-requests"><span>How to add a token to EasyQuery HTTP requests</span></a></li>
        </ul>
    </li>
    <li>
        <div class="node-leaf">
            <span class="node-toggle"><span class="mif-chevron-right"></span></span>
            <a class="group-label"><span>API Reference</span></a>
        </div>
        <ul class="sidebar-menu">
            <li>
                <div class="node-leaf">
                    <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                    <a href="api-reference/easydata-core" class="group-label"><span>@easydata/core</span></a>
                </div>
                <ul class="sidebar-menu">
                    <li>
                        <div class="node-leaf">
                            <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                            <a href="api-reference/easydata-core/i18n" class="group-label"><span>i18n</span></a>
                        </div>
                        <ul class="sidebar-menu">
                        </ul>
                    </li>
                    <li>
                        <div class="node-leaf">
                            <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                            <a href="api-reference/easydata-core/utils" class="group-label"><span>utils</span></a>
                        </div>
                        <ul class="sidebar-menu">
                        </ul>
                    </li>
                    <li>
                        <div class="node-leaf">
                            <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                            <a href="api-reference/easydata-core/enumerations" class="group-label"><span>Enumerations</span></a>
                        </div>
                        <ul class="sidebar-menu">
                        </ul>
                    </li>
                    <li>
                        <div class="node-leaf">
                            <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                            <a href="api-reference/easydata-core/interfaces" class="group-label"><span>Interfaces</span></a>
                        </div>
                        <ul class="sidebar-menu">
                        </ul>
                    </li>
                    <li>
                        <div class="node-leaf">
                            <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                            <a href="api-reference/easydata-core/classes" class="group-label"><span>Classes</span></a>
                        </div>
                        <ul class="sidebar-menu">
                        </ul>
                    </li>
                    <li><a href="api-reference/easydata-core/functions">Functions</a></li>
                </ul>
            </li>
            <li>
                <div class="node-leaf">
                    <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                    <a href="api-reference/easydata-ui" class="group-label"><span>@easydata/ui</span></a>
                </div>
                <ul class="sidebar-menu">
                </ul>
            </li>
            <li>
                <div class="node-leaf">
                    <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                    <a href="api-reference/easyquery-core" class="group-label"><span>@easyquery/core</span></a>
                </div>
                <ul class="sidebar-menu">
                </ul>
            </li>
            <li>
                <div class="node-leaf">
                    <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                    <a href="api-reference/easyquery-enterprise" class="group-label"><span>@easyquery/enterprise</span></a>
                </div>
                <ul class="sidebar-menu">
                </ul>
            </li>
            <li>
                <div class="node-leaf">
                    <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                    <a href="api-reference/easyquery-locales" class="group-label"><span>@easyquery/locales</span></a>
                </div>
                <ul class="sidebar-menu">
                </ul>
            </li>
            <li>
                <div class="node-leaf">
                    <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                    <a href="api-reference/easyquery-ui" class="group-label"><span>@easyquery/ui</span></a>
                </div>
                <ul class="sidebar-menu">
                </ul>
            </li>
            <li>
                <div class="node-leaf">
                    <span class="node-toggle"><span class="mif-chevron-right"></span></span>
                    <a href="api-reference/easyquery-odata" class="group-label"><span>@easyquery/odata</span></a>
                </div>
                <ul class="sidebar-menu">
                </ul>
            </li>
        </ul>
    </li>
</ul>
<script>
    const leafsToggles = $(".sidebar-menu").on("click", ".node-toggle", function(e){
        this.parentNode.parentNode.classList.toggle("open")
        e.stopPropagation()
    })

    const currentURL = window.location.href.split("#")[0]
    const links = $(".sidebar-menu a")
    links.each((index, link) => {
        const el = $(link)
        console.log(link.href, currentURL)
        if (link.href === currentURL && !el.hasClass('group-label')) {
            const li = el.closest("li")
            li.addClass("active")
            li.parents("li").toggleClass("open")
        }
    })
</script>