---

---
<footer class="container-fluid mt-auto">
    <div class="container">
        <ul class="footer__menu">
            <li><a href="/">HOME</a></li>
            <li><a href="/easyquery">EASYQUERY.NET</a></li>
            <li><a href="/metroui">METRO UI</a></li>
            <li><a href="/localizer">LOCALIZER</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/support">SUPPORT</a></li>
            <li><a href="/resellers">RESELLERS FAQ</a></li>
            <li><a href="/account">YOUR ACCOUNT</a></li>
            <li><a href="/privacy">PRIVACY</a></li>
            <li><a href="/terms-of-use">TERMS OF USE</a></li>
        </ul>

        <hr class="mt-10 mb-10 thin"/>

        <div class="d-flex flex-column flex-align-center">
            <div>1998-2023 &copy; Korzh.com. Made in Ukraine. All Rights Reserved.</div>
            <div class="mute-text">All product names, logos, and brands are the property of their respective owners.</div>
            <div>
                Site built with <a class="fg-yellow no-decor" href="/metroui">Metro UI</a>. Powered by <a class="fg-yellow no-decor" href="https://astro.build">Astro</a>.
            </div>
        </div>
    </div>
</footer>
<style is:global lang="less">
    footer {
        background: #172b4d;
        color: #ffffff;
        font-size: 14px;
        padding: 20px 0;

        hr {
            background: #3b4b68;
        }

        .footer__menu {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            list-style: none inside;
            font-size: 12px;
            margin: 20px 0;

            li {
                margin: 0 10px;
            }

            a {
                text-decoration: none;
                color: #ffffff;
            }
        }

        .mute-text {
            color: #7f8c97!important;
        }
    }
</style>
<script is:inline>
    window.addEventListener("load", () => {
        $(document).on("click", ".history-back", () => {
            history.back()
        })
    })
</script>